@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .grid-cols-25 {
    grid-template-columns: repeat(25, minmax(0, 1fr));
  }
}
